/* Resets */
.root {
    -fx-focus-color: #C4C4C4;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 1;
}

.text-field:focused {
    -fx-focus-color: #C4C4C4;
    -fx-background-insets: 0, 1;
}

.table-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
}

.tab {
    -fx-focus-color: transparent;
}

.container {
    -fx-background-color: #fff;
    -fx-padding: 0 10;
    fx-min-width: 1000;
    -fx-max-width: 1000;
}

/* Buttons */
.btn {
    -fx-padding: 5 10;
    -fx-min-width: 75;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.btn-primary {
    -fx-text-fill: #fff;
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
}

.btn-primary:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0069d9;
    -fx-border-color: #0062cc;
}


.btn-success {
    -fx-text-fill: #fff;
    -fx-background-color: #28a745;
    -fx-border-color: #28a745 ;
}

.btn-success:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #218838;;
    -fx-border-color: #1e7e34;
}

.btn-danger {
    -fx-text-fill: #fff;;
    -fx-background-color: #dc3545;
    -fx-border-color: #dc3545;
}

.btn-danger:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #c82333;
    -fx-border-color: #bd2130;
}

/* Navigation */


/*.tab-pane {*/
/*    -fx-tab-min-height: 3em;*/
/*    -fx-tab-min-width: 5em;*/

/*}*/

/*.tab .tabOrder-label {*/
/*    -fx-background-color: transparent;*/
/*    -fx-alignment: center;*/
/*    -fx-text-fill: #3488dd;*/

/*}*/

/*.tab {*/
/*    -fx-background-color: white;*/
/*    -fx-background-insets: 0.0;*/
/*    -fx-background-radius: 0.0;*/
/*    -fx-padding: 0 5 0 5;*/

/*}*/
/*.tab:selected {*/
/*    -fx-background-color: #f8f9fa;*/
/*    -fx-background-radius: 0;*/
/*    -fx-background-insets: 0;*/
/*    -fx-border-width: 3 0 0 0;*/
/*    -fx-border-color: rgba(0, 136, 255, 0.7);*/

/*}*/
/*.tab-pane .tab-header-background{*/
/*    -fx-background-color: rgb(226, 213, 204);*/

/*}*/

.tab-pane .tab-header-background{
    -fx-background-color: rgba(180, 207, 234, 0.8);
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 2;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: rgba(248, 248, 204, 0.94);

}

.tab-pane .tab:selected
{
    -fx-background-color: #72de84;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #1e1414;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f4f5ff;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.1em 0.1em;
}

.title {
    -fx-font-size: 18;
}

/* Form */
.form {
    -fx-max-width: 250;
    -fx-max-height: 0;
    -fx-font-size: 14;
    -fx-background-color: #f8f9fa;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 25;
    -fx-pref-width: 250;
    -fx-spacing: 10;
    -fx-fill-width: true;
}

.form .label {
}

.form .text-field {
    -fx-min-height: 35;
}

.form .button {
    -fx-min-width: 250;
    -fx-min-height: 40;
    -fx-background-color: #343a40;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #ffffff;
}

.form .button:hover {
    -fx-background-color: gray;
}

.form .title {
    -fx-font-size: 36;
}

/* Alert */
.text-field.error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

.alert {
    -fx-min-height: 60;
}

.alert .label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-min-height: 40;
    -fx-background-color: red;
    -fx-background-radius: 5;
}

.alert .button {
    -fx-font-weight: bold;
    -fx-max-height: 20;
    -fx-background-color: transparent;
}

.alert .button:hover {
    -fx-text-fill: gray;
}

.AsstButtonField:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(106, 227, 132, 0.17);
    -fx-border-color: blueviolet;
}

