.form {
    -fx-max-width: 250;
    -fx-max-height: 0;
    -fx-font-size: 14;
    -fx-background-color: #f8f9fa;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 25;
    -fx-pref-width: 250;
    -fx-spacing: 10;
    -fx-fill-width: true;
}

.form .label {
}

.form .text-field {
    -fx-min-height: 35;
}

.form .button {
    -fx-min-width: 250;
    -fx-min-height: 40;
    -fx-background-color: #343a40;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #ffffff;
}

.form .button:hover {
    -fx-background-color: gray;
}

.form .title {
    -fx-font-size: 36;
}

.text-field.error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}