/* Forms */
.form {
    -fx-max-width: 250;
    -fx-max-height: 0;
    -fx-font-size: 14;
    -fx-background-color: #f8f9fa;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 25;
    -fx-pref-width: 250;
    -fx-spacing: 10;
    -fx-fill-width: true;
}

.form .label {
}

.form .text-field {
    -fx-min-height: 35;
}

.form .button {
    -fx-min-width: 250;
    -fx-min-height: 40;
    -fx-background-color: #343a40;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #ffffff;
}

.form .button:hover {
    -fx-background-color: gray;
}

.form .title {
    -fx-font-size: 36;
}

.text-field.error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

.alert {
    -fx-min-height: 60;
}

.alert .label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-min-height: 40;
    -fx-background-color: red;
    -fx-background-radius: 5;
}

.alert .button {
    -fx-font-weight: bold;
    -fx-max-height: 20;
    -fx-background-color: transparent;
}

.alert .button:hover {
    -fx-text-fill: gray;
}

.AsstButtonField:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(106, 227, 132, 0.17);
    -fx-border-color: blueviolet;

}

/* Navigation */
.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-min-width: 5em;
}

.tab .tabOrder-label {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: #f8f9fa;
}

.tab {
    -fx-background-color: white;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 5 0 5;
}

.tab:selected {
    -fx-background-color: #f8f9fa;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: rgba(0, 136, 255, 0.7);
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}
.table-view .column-header-background .label{
    -fx-background-color: rgba(0, 0, 0, 0.06);
    -fx-text-fill: sandybrown;
}

.table-view .column-header-background .label{
    -fx-background-color: rgba(0, 0, 0, 0.09);
    -fx-text-fill:blue;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
